* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shok";
  src: url("./fonts/After_Shok.ttf");
}

@font-face {
  font-family: "MonumentExtended";
  src: url("./fonts/MonumentExtended-FreeForPersonalUse/Personal-license-agreement");
}
